body{
    background-color: rgb(255, 255, 255);
    align-content: center;
    align-content: center;
    padding: 20px;
}

.top{
    display: inline-flex;
}

.brand{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: auto;
    background-color: aliceblue;
    display: flex;
    padding: 10px;
}

.brand img{
    margin:auto 0;
    height: fit-content;
}
.brand-info .info{
    display: inline-flex;
    align-items: center;
}
.brand-info {
    display: block;
    width: 60%;
    margin: auto;
}
.svg{
    margin: 5px;
}
p{
    margin:8px;
}
.cash{
    background-color: black;
    color: white;
    width: fit-content;
    padding: 5px 10px;
    position: relative;
    top: -20px;
    left: 50%;
    border-radius: 3px;
    transform: translate(-50%);
}
.recipt-details{
   border:.5px solid black;
   padding: 8px;
   border-radius: 5px;
   margin: 15px 0;
}
.recipt-details .item{
    padding: 8px;
    border-radius: 5px;
    margin: 15px 0;
 }
 .recipt-details .item .info{
   border-bottom: 1px solid black;
   display: inline-flex;
   min-width: 100%;
 }

 .bottom{
     padding: 8px;
     display: inline-flex;
     width: 100%;
 }
 .bottom .amt-num{
    padding: 8px;
    width: 50%;
    border: 1px solid black;
    border-radius: 2px;
}
.bottom .signature{
    width: 30%;
    text-align: center;
    border-bottom: 1px solid black;
    padding : 0 30px;
    margin: 0 auto;
}

.w-30{
    max-width:30% !important ;
}

