{% extends 'base.html' %}


{% load static %}


{% block content %}



<div class="row">
	<div class="col-md-3"></div>
<div class="col-md-6  mt-5">
        

	<div class="card card-default" id="card-margin">
        
		<div class="card-header">
			<center><h1 class="card-title">Change Password</h1></center>
		</div>
        
		<div class="card-body">
			
			{% include 'alerts.html' %}
			<form method="POST" action="{% url 'change_password' %}">
				{% csrf_token %}
                {% comment %} {{ form |crispy }} {% endcomment %}

				<div class="form-row">
					<div class="form-group col-md-12">
						<label>Current Password</label>
						<input type="password" class="form-control" name="old_password" placeholder="Current Password">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-12">
						<label>New Password</label>
						<input type="password" class="form-control" name="new_password" placeholder="New Password">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-12">
						<label>Confirm Password</label>
						<input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password">
					</div>
				</div>
            
				<div class="form-row">
					<div class="form-group col-md-12 d-grid mt-2">
						<button type="submit" class="btn btn-block btn-primary"  name="Change"><span class="glyphicon glyphicon-edit"></span> Save Changes</button>
					</div>
                                
                 </div>
			</form>
		</div>
	</div>
</div>	
 
</div>

</div>

{% endblock content %}
